# 리스트

## len 함수

In [1]:
students = ['홍길동','김길동','노길동']
print(students)

['홍길동', '김길동', '노길동']

In [4]:
for i in range(len(students)):
    print("번호 : {}".format(i+1))
    print("이름 : {}".format(students[i]))

번호 : 1
이름 : 홍길동
번호 : 2
이름 : 김길동
번호 : 3
이름 : 노길동

In [5]:
print(len("Hello Python!"))

13

## for문의 반복가능 객체에 직접 list를 집어넣기

In [7]:
for person in students:
    print(person)

홍길동
김길동
노길동

In [8]:
studentCnts = [[1, 19], [2,20], [3,21], [4,12], [5,41]]

for i, cnts in studentCnts:
    print("{}반의 학생수 : {}".format(i, cnts))

1반의 학생수 : 19
2반의 학생수 : 20
3반의 학생수 : 21
4반의 학생수 : 12
5반의 학생수 : 41

## for문과 조건문을 이용한 조회

In [11]:
minScore = 60
scores = [
    ['국어', 58],
    ['수학', 77],
    ['영어', 99],
    ['과학', 88],
    ['사회', 44],
]
for item in scores:
    if item[1] < minScore :
        print("F과목 : {}, 점수 : {}".format(item[0], item[1]))

F과목 : 국어, 점수 : 58
F과목 : 사회, 점수 : 44

## enumerate()

In [12]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [13]:
sports = ['농구','축구','배구','테니스','탁구']

for idx, value in enumerate(sports):
    print("{}th value is {}".format(idx, value))

0th value is 농구
1th value is 축구
2th value is 배구
3th value is 테니스
4th value is 탁구

##### Str type also can use enumerate

In [14]:
string = 'Hello Python!'

for idx, value in enumerate(string):
    print("{}th value is {}".format(idx, value))

0th value is H
1th value is e
2th value is l
3th value is l
4th value is o
5th value is
6th value is P
7th value is y
8th value is t
9th value is h
10th value is o
11th value is n
12th value is !

##### Favorite Game Inquiry with for, if

In [16]:
sports = ['농구','축구','배구','테니스','탁구']
favorite = input("가장 좋아하는 종목 입력 : ('농구','축구','배구','테니스','탁구')")

for idx, value in enumerate(sports):
    if value == favorite :
        print("가장 좋아하는 종목 {}은 {}번째 종목 입니다".format(value, idx+1))

가장 좋아하는 종목 입력 : ('농구','축구','배구','테니스','탁구')테니스
가장 좋아하는 종목 테니스은 4번째 종목 입니다

## append()
- add element in the last index

In [19]:
scores = [
    ['kor', 58],
    ['math', 77],
    ['eng', 99],
    ['science', 88],
    ['society', 44],
]
scores.append(['exercise',90])
for sub, score in scores:
    print("subject : {}, score : {}".format(sub, score))

subject : kor, score : 58
subject : math, score : 77
subject : eng, score : 99
subject : science, score : 88
subject : society, score : 44
subject : exercise, score : 90

## insert()
- we can add an element at certain index of list by using insert()

In [23]:
students = ['김길동','황길동','이길동']
print(students)

students.insert(2, '유장훈')
print(students)

['김길동', '황길동', '이길동']
['김길동', '황길동', '유장훈', '이길동']

In [25]:
numbers =[1,3,6,11,45,54,62,74,85]
inputNumber = int(input('Input Number'))
insertIdx = 0

for idx, value in enumerate(numbers):
    if inputNumber <= value :
        insertIdx = idx
        break
numbers.insert(insertIdx, inputNumber)
print("numbers : ", numbers)

Input Number55
numbers :  [1, 3, 6, 11, 45, 54, 55, 62, 74, 85]

## Delete Item of List : pop()
- pop() : delete last element of list
- pop(n) : delete nth index element, return that element

In [32]:
students = ['김길동','황길동','이길동']
print('studnets :', students)

students.pop(), students

studnets : ['김길동', '황길동', '이길동']

('이길동', ['김길동', '황길동'])

In [35]:
playerScores = [9.5,8.9,9.2,9.8,8.8,9.0]
print('playerscores :', playerScores)

minScore = 0
minScoreIdx = 0

for idx, score in enumerate(playerScores):
    if idx == 0 or minScore > score:
        minScore = score
        minScoreIdx = idx
print('MinScore : {}, MinScoreIdx : {}, Deleted list : {}'.format(playerScores.pop(minScoreIdx), minScoreIdx, playerScores))

playerscores : [9.5, 8.9, 9.2, 9.8, 8.8, 9.0]
MinScore : 8.8, MinScoreIdx : 4, Deleted list : [9.5, 8.9, 9.2, 9.8, 9.0]

## Delete Item of List : remove()
- delete specified item of the list

In [38]:
students = ['태용','도영','재현','유타','해찬','제노']
print(students)

students.remove('태용')
print(students)

['태용', '도영', '재현', '유타', '해찬', '제노']
['도영', '재현', '유타', '해찬', '제노']

##### If list has more than two items, we need to use "While"

In [43]:
students = ['태용','도영','재현','유타','해찬','제노','태용','재현','태용'] # 3 '태용'
students.remove('태용')
print(students)
print("Still have two '태용', Use While")

while '태용' in students :
    students.remove('태용')
print(students)

['도영', '재현', '유타', '해찬', '제노', '태용', '재현', '태용']
Still have two '태용', Use While
['도영', '재현', '유타', '해찬', '제노', '재현']

## link the list : extend()

In [46]:
list_A = ['태용','재현','유타','해찬','마크','천러']
list_B = ['루카스','쇼타로','샤오쥔']

print("group 1 : {}".format(list_A))
print("group 2 : {}".format(list_B))

list_A.extend(list_B)
print("After Extend")
print("group 1 : {}".format(list_A))
print("group 2 : {}".format(list_B))

group 1 : ['태용', '재현', '유타', '해찬', '마크', '천러']
group 2 : ['루카스', '쇼타로', '샤오쥔']
After Extend
group 1 : ['태용', '재현', '유타', '해찬', '마크', '천러', '루카스', '쇼타로', '샤오쥔']
group 2 : ['루카스', '쇼타로', '샤오쥔']

##### List_A changes when use 'extend()'

In [47]:
list_A = ['태용','재현','유타','해찬','마크','천러']
list_B = ['루카스','쇼타로','샤오쥔']

print("group 1 : {}".format(list_A))
print("group 2 : {}".format(list_B))

result = list_A + list_B
print("After +")
print("result : {}".format(result))
print("group 1 : {}".format(list_A))
print("group 2 : {}".format(list_B))

group 1 : ['태용', '재현', '유타', '해찬', '마크', '천러']
group 2 : ['루카스', '쇼타로', '샤오쥔']
After +
result : ['태용', '재현', '유타', '해찬', '마크', '천러', '루카스', '쇼타로', '샤오쥔']
group 1 : ['태용', '재현', '유타', '해찬', '마크', '천러']
group 2 : ['루카스', '쇼타로', '샤오쥔']

##### List_A, List_B does not change when use '+'

### Example

In [50]:
myNumber = [1,3,5,6,7]
friendNumber = [2,3,5,8,10]

addList = myNumber + friendNumber
print("addList : {}".format(addList))
print("There are DUPLICATED Numbers!")

addList_nodup = []
for number in addList:
    if number not in result :
        addList_nodup.append(number)
        
print("addList with No Duplicate : {}".format(addList))

addList : [1, 3, 5, 6, 7, 2, 3, 5, 8, 10]
There are DUPLICATED Numbers!
addList with No Duplicate : [1, 3, 5, 6, 7, 2, 3, 5, 8, 10]

## sort()
- sort() : sort the list by ascending order
- sort(reverse = True) : Descending order

In [51]:
students = ['태용','유타','재현','루카스','도영']
print("students : {}".format(students))

students.sort()
print(students)

students.sort(reverse=True)
print(students)

students : ['태용', '유타', '재현', '루카스', '도영']
['도영', '루카스', '유타', '재현', '태용']
['태용', '재현', '유타', '루카스', '도영']

## reverse()

In [57]:
students = ['태용','유타','재현','루카스','도영']
print("students : {}".format(students))

students.reverse()
print("reversed order : {}".format(students))

numbers = [2,10,50,429,234,29,19,3460,239]
print("numbers : {}".format(numbers))

numbers.reverse()
print("reversed order of numbers : {}".format(numbers))

students : ['태용', '유타', '재현', '루카스', '도영']
reversed order : ['도영', '루카스', '재현', '유타', '태용']
numbers : [2, 10, 50, 429, 234, 29, 19, 3460, 239]
reversed order of numbers : [239, 3460, 19, 29, 234, 429, 50, 10, 2]

## index()

In [58]:
import random

sampleList = random.sample(range(1,11),10)

searchIdx = sampleList.index(7)
print(sampleList, searchIdx)

[9, 5, 7, 2, 8, 10, 1, 3, 6, 4] 2

## count()
- 특정 아이템의 개수 알아내기

In [62]:
students = ['태용','도영','재현','유타','해찬','제노','태용','재현','태용'] # 3 '태용'

students.count('태용'), students.count('재현')

(3, 2)

In [63]:
del students[0]
print(students)

del students[1:4]
print(students)

['도영', '재현', '유타', '해찬', '제노', '태용', '재현', '태용']
['도영', '제노', '태용', '재현', '태용']

In [66]:
import random

types = ['A','B','AB','O']

todayData = []
typeCnt = []

for i in range(100):
    aboType = types[random.randrange(len(types))]
    todayData.append(aboType)
    
print(todayData)
print(len(todayData))

for aboType in types :
    print("{}형 : {}개".format(aboType, todayData.count(aboType)))

['O', 'O', 'A', 'O', 'AB', 'O', 'A', 'AB', 'AB', 'B', 'B', 'O', 'O', 'O', 'B', 'O', 'O', 'B', 'B', 'O', 'B', 'A', 'B', 'A', 'AB', 'O', 'B', 'O', 'A', 'O', 'AB', 'B', 'O', 'O', 'O', 'AB', 'O', 'O', 'O', 'B', 'B', 'O', 'O', 'AB', 'AB', 'A', 'B', 'AB', 'B', 'B', 'A', 'AB', 'O', 'A', 'O', 'O', 'B', 'A', 'A', 'O', 'A', 'AB', 'B', 'AB', 'A', 'A', 'B', 'A', 'O', 'B', 'O', 'O', 'O', 'B', 'B', 'O', 'AB', 'B', 'A', 'A', 'B', 'A', 'A', 'AB', 'B', 'AB', 'B', 'AB', 'O', 'O', 'A', 'O', 'AB', 'AB', 'B', 'A', 'AB', 'A', 'A', 'B']
100
A형 : 22개
B형 : 26개
AB형 : 19개
O형 : 33개